<main>
        <div class="container">
            <h1> ADMIN ACCOUNTS</h1>
            <div class="box-container">
                <div class="box-c">
                    <p>add new admin</p>
                    <div class="div-button">
                        <button-r><a href="index.php?trang=update_pr">Register admin</a></button-r>
                    </div>
                </div>
                <div class="box-c">
                    <p>admin id : <span>1</span></p>
                    <p>admin name : <span>admin</span></p>
                    <div class="div-button">
                        <button-1><a href="index.php?trang=update_pr">Update</a></button-1>
                        <button-2>Delete</button-2>
                    </div>
                </div>
                <div class="box-c">
                    <p>admin id : <span>2</span></p>
                    <p>admin name : <span>admin1</span></p>
                    <div class="div-button">
                        <button-d>Delete</button-d>
                    </div>
                </div>
                <div class="box-c">
                    <p>admin id : <span>3</span></p>
                    <p>admin name : <span>vinh</span></p>
                    <div class="div-button">
                        <button-d>Delete</button-d>
                    </div>
                </div>
                <div class="box-c">
                    <p>admin id : <span>4</span></p>
                    <p>admin name : <span>trung</span></p>
                    <div class="div-button">
                        <button-d>Delete</button-d>
                    </div>
                </div>
                <div class="box-c">
                    <p>admin id : <span>5</span></p>
                    <p>admin name : <span>huong</span></p>
                    <div class="div-button">
                        <button-d>Delete</button-d>
                    </div>
                </div>
            </div>
        </div>
    </main>