* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1170px;
    height: 1000px;
    margin: 0 auto;
}
body {
    font-family: Arial, sans-serif;
    font-size: larger;
}

.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    background-color: whitesmoke;
    border-bottom: 2px solid #ddd;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.allbox {
    align-items: center;
    width: 85%;
    display: flex;
}

.allbox .logo {
    display: flex;
}

.allbox ul {
    margin-left: 100px;
    width: 60%;
}

.icon_user {
    margin-left: 200px;
    width: 20%;
}

.navbar .allbox .logo {
    font-size: larger;
    font-weight: bolder;
}

.navbar .logo span {
    color: blue;
}

.navbar ul {
    list-style: none;
    gap: 50px;
    display: flex;
}

.navbar ul li a {
    color: black;
    text-decoration: none;
}
.admin {
    font-size: 24pt;
    text-align: center;
    margin: 20px 0;
}
